/* About Page Styles */

/* Main container for the about page */
/* Main container for the about page */
.about-container {
    display: flex;
    flex-direction: column; /* Change to column direction */
    align-items: center;
    justify-content: space-between;
    width: 80%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--white);
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    position: relative; /* Ensure the container is positioned relative for absolute positioning of children */
    z-index: 1; /* Ensure the container is above the background text */
    border-radius: 0px; /* Add rounded corners */
}

/* About background container */
.about-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    z-index: 0; /* Ensure the background text is behind the main container */
}

/* About title left (Positioned below about-right) */
.about-left {
    font-size: 330px;
    text-align: left;
    font-family: 'Lora', Arial, sans-serif;
    color: var(--light-gray);
    margin: 0;
    position: absolute;
    left: 0;
    /* Positioned below about-right */
    z-index: -1; /* Ensure the text is behind the main content */
    margin-top: 300px;
}

.about-right {
    font-size: 330px;
    text-align: right;
    font-family: 'Lora', Arial, sans-serif;
    color: var(--light-gray);
    margin: 0;
    position: absolute;
    right: 0;
     /* Stays in the middle */
    z-index: -1; /* Ensure the text is behind the main content */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    padding: 50px 100px 50px;
    box-sizing: border-box;
}

.text-container p{
    text-align: center !important;
}

/* Interests Section Styles */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espace entre les images */
    justify-content: center; /* Centre les images horizontalement */
    margin-bottom: 70px;
}

.image-item {
    position: relative;
    width: 200px; /* Largeur de chaque image */
    text-align: center;
    overflow: visible; /* Permet aux parties de l'image de dépasser */
    margin-bottom: 60px; /* Ajoute de l'espace en bas pour la description */
}

.image-item img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Assure que l'image couvre toute la boîte sans être déformée */
    transition: transform 0.3s ease; /* Animation de zoom */
}

.image-item:hover img {
    transform: scale(1.1); /* Zoom sur l'image au survol */
}

.interest {
    padding: 8px; /* Ajoute du padding autour du texte */
    margin-top: 10px;
    top: 100%; /* Positionne la description en dessous de l'image */
    left: 50%;
    transform: translateX(-50%); /* Centre horizontalement la description */
    width: 100%; /* Assure que la description prend toute la largeur de l'image */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur */
    align-items: center; /* Centre verticalement le texte */
    justify-content: center; /* Centre horizontalement le texte */
}

.image-item:hover .interest {
    display: flex; /* Affiche la description au survol */
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
    .about-background {
        display: none; /* Hide the about background on smaller screens */
    }

    .about-container {
        width: 100%; /* Make the container take the full width */
        height: 100vh; /* Make the container take the full height */
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .text-container {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .image-gallery {
        gap: 10px; /* Adjust gap between images */
    }

    .image-item {
        width: 100px; /* Reduce the width of each image */
    }
}