@use '../abstracts' as *;

.round-image,
.square-image {
  width: 500px;
  height: 500px;
  object-fit: cover;

  @include media-down(md) {
    width: clamp(120px, 50vw, 300px);
    height: clamp(120px, 50vw, 300px);
  }
}

.round-image {
  border-radius: 50%;
  z-index: 2;
}
