@use '../abstracts' as *;

.link {
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $pink;
    transition: width $transition-base;
  }

  &:hover::after {
    width: 100%;
  }
}
